API_URL=
TOKEN=
SERVER=local
SERVICE_BASE_URL=
SERVICE_NAME=forecast_service
REDIS_URL=redis://redis:6379/0
AQ_MAX_DAYS=1
AQ_MAX_QUEUE_LENGTH=2
AQ_MAX_ENQUEUES_PER_HOUR=2
CDSAPI_URL=https://ads.atmosphere.copernicus.eu/api
CDSAPI_KEY=
